{% extends 'base.html' %}
{% load static %}
{% block title %} Account activation {% endblock %}
{% block content %}

         <section id="help" class="help">
      <h2>Aktywacja konta</h2>

      <ul class="help--buttons">
          <li><h1>Username: {{ request.user.username}}</h1></li>
          <li><h1>Imię: {{ request.user.first_name}}</h1></li>
          <li> <h1>Nazwisko: {{ request.user.last_name }}</h1></li>
          <li><h1>Email: {{ request.user.email }}</h1></li>
      </ul>
         </section>
         <section id="help" class="help">
      <h2>Moje dary</h2>

      <ul class="help--buttons">
          {% for donation in donations %}
          <li><h1>{{ donation}}</h1></li>
          {% endfor %}
      </ul>
         </section>

{% endblock %}