{% extends 'base.html' %}
{% load static %}
{% block title %} My account {% endblock %}
{% block content %}
    {% if donations %}
    <section id="help" class="help">
        <h2>Moje dary</h2>
        {% for donation in donations %}
            {% if donation.status %}
                <i>
                    <div style="color: blue" >
                    <h2>Dla: {{ donation.institution }}, ilość worków: {{ donation.quantity }},
                        zawierających:
                        {% for category in donation.categories.all %} {{ category }}, {% endfor %}
                        status-odebrane.
                        <br/>
                        <a href="{% url 'charity:my_donation' donation.id %}">Więcej informacji...</a></h2></div>>
                    {% else %}
                    <div>
                    <h2>Dla: {{ donation.institution }}, ilość worków: {{ donation.quantity }},
                        zawierających: {% for category in donation.categories.all %} {{ category }}, {% endfor %}
                        status: -nie odebrane <br/>
                        <a href="{% url 'charity:my_donation' donation.id %}">Więcej informacji...</a>
                    </h2>
                    </div>
                </i>
            {% endif %}
        {% endfor %}

    </section>
{% else %}
        <section id="help" class="help">
      <h2>Nie przekazałeś jeszcze żadnych darów. Możesz to zrobić <a href="{% url 'charity:add_donation' %}">tutaj.</a> </h2>
        </section>
    {% endif %}

{% endblock %}