asgiref==3.2.7
confusable-homoglyphs==3.2.0
Django==3.1.9
django-admin-honeypot==1.1.0
django-filter==2.3.0
django-registration==3.1
django-templated-mail==1.1.1
djangorestframework==3.11.0
djoser==2.0.3
psycopg2-binary==2.8.5
python-decouple==3.3
python-http-client==3.2.7
pytz==2019.3
sendgrid==6.3.0
six==1.14.0
sqlparse==0.3.1
