{% extends 'base.html' %}
{% load static %}
{% block title %} Zmiana hasła {% endblock %}
{% block content %}
  {% if validlink %}
    <h3>Zmień hasło</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Zmień hasło</button>
    </form>
  {% else %}
  <div class="slogan container container--90">
          <h2>
      Link resetujący hasło jest błędny, prawdopodobnie został już raz użyty. Poproś o nowy link.
          </h2></div>
  {% endif %}
{% endblock %}