{% autoescape off %}
    Resetowanie hasła w domenie Donation
    Aby rozpocząć resetowanie hasła dla konta użytkownika {{ user.get_username }} kliknij link poniżej:


    <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>

    Jeśli kliknięcie nie działa, proszę skopiuj w wklej podany adres mailowy w okno przeglądarki.


    Pozdrawiam,
    Dontation Team
{% endautoescape %}