{% extends 'base.html' %}
{% load static %}
{% block title %} Formularz resetowania hasła {% endblock %}
{% block content %}
    <div class="slogan container container--90">
        <h2>
            <p>
                Na podany adres mailowy został wysłany link resetujący hasło, jeśli dla tego adresu istnieje konto.
                Powinieneś go wkrótce otrzymać.

            </p>
            <p>
                Jeśli nie otrzymałeś żadnego maila, upewnij się że wpisałeś właściwy adres mailowy na który zostało
                założone
                konto lub sprawdź folder spam.

            </p>
        </h2>
    </div>
{% endblock %}